@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $NAV_MENU_HEIGHT;
    padding: 0 $MIDLARGE;
    background-color: $MAIN_COLOR;
    &__logo {
      z-index: 9001;
      display: flex;
      align-content: center;
      justify-content: space-between;
      cursor: pointer;
    }
    &__toggle {
      z-index: 9001;
    }
    &__links {
      position: fixed;
      top: $NAV_MENU_HEIGHT;
      right: -101%;
      z-index: 9001;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding-top: $XXLARGE;
      background-color: $MAIN_COLOR_DARKEN;
      background-color: $MAIN_COLOR;
      transition: transform 0.3s ease;
      &.navbar__open {
        overflow: auto;
        transform: translateX(-101%);
      }
    }
    &__link {
      @include font-type($MAIN_FONT, $LARGE, rgba($color: white, $alpha: 0.9));

      padding: $MEDIUM;
      color: white;
      text-align: center;
    }
  }

  //Medium screens - TABLET
  //min-width 641px, medium screens
  @media only screen and (min-width: $MEDIUM_SCREEN) {
  }

  //Large screens - DESKTOP
  //min-width 1025px, large screens
  @media only screen and (min-width: $LARGE_SCREEN) {
    .navbar {
      justify-content: space-between;
      &__logo {
        display: flex;
        align-items: center;
        width: fit-content;
      }
      &__toggle {
        display: none;
      }
      &__links {
        position: relative;
        top: inherit;
        right: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: inherit;
        height: inherit;
        padding: 0;
        background-color: inherit;
        transition: none;
      }
      &__link {
        @include font-type(
          $MAIN_FONT,
          $MEDIUM,
          500,
          rgba($color: white, $alpha: 0.9)
        );

        position: relative;
        margin-bottom: $MIDSMALL;
        padding-bottom: $XSMALL;
        &::after {
          position: absolute;
          bottom: 1px;
          left: 10%;
          width: 80%;
          color: $SEC_COLOR;
          border-style: solid;
          border-width: 0 0 1px;
          opacity: 0;
          content: "";
        }
        &:hover::after {
          opacity: 1;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
