@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .footer {
    @include font-type();

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: $SMALL;
    color: white;
    text-align: center;
    background-color: $GRAY_600;
    background-color: $MAIN_COLOR;
    &__copyright {
      color: white;
    }
    &__link {
      color: white;
      text-decoration: none;
      &:hover {
        color: $SEC_COLOR;
        transition: color 0.5s ease-in;
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
